@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap%27');

.General{color:black;
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    
}
.TitleContainer{
    display: grid;
    justify-content: center;
    text-align: center;
}
.Title{
    display: grid;
    justify-content: center;
    text-align: center;
    color: #ffb627;
    font-family: 'Roboto Condensed', sans-serif;
    }
.Container2{
    display: grid;
    grid-template-columns: repeat(6, 3fr);
    grid-gap: 5px;
    justify-content: center;
    position: relative;
}
.Container{
display: grid;
justify-content: space-around;
}
.Tarjet{
    border: 2px solid #ffb627;
    background-color: rgba(255, 127, 80, 0.151);
    border-radius: 5px ;
    display: grid;
   
}
.ContBtn3{
    display: grid;
    justify-content: center;
}
.Btn3{
    display: grid;
    justify-content: center;
    color: black;
}
.pagination {
    display: flex;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    cursor: pointer;
    height: 10vh;
    width: 100%;
  }
  .pagination__link {
    font-weight: bold;
  }
  .pagination__link__active a {
    color: black;
    background: #ffb627;
  }
  .pagination__link__disabled a {
    color:black;
  }