@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.General{
    display: grid;
    color:white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    justify-content: center;
}
.Title{
    display: grid;
    justify-content: center;
    color:tomato;
}
.Designs1{
    grid-template-columns: repeat(6, 3fr);
    grid-gap: 5px;
    display: grid;
}
.Tarjet{
    border: 2px solid coral;
    background-color: rgba(255, 127, 80, 0.151);
    border-radius: 5px ;
    display: grid;
}
.Btn3{
    display: grid;
    justify-content: center;
    color: white;
}