@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap%27');

.General{color:black;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap:  wrap ;
    
}
.TitleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap:  wrap ;
}
.Title{
    display: flex;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 300%;
    align-content: center;
    font-family: 'Shadows Into Light', cursive;
    flex-wrap:  wrap ;
    }
.Container2{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap:  wrap ;
}
.Img{
    width: 80px; height: 80px;
  }
.Tarjet{
    border: 2px solid black;
    background-color: rgba(255, 127, 80, 0.151);
    border-radius: 5px ;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap:  wrap ;
    position: relative;
    
}
.BtnR{
  background-color: white;
  color: black;
  border-radius: 3vh;
  transition: ease-in 0.3s;
}

.BtnR:hover{
  background-color: red;
  color: white;
}
.BtnRestore{
  background-color: black;
  color: white;
  border-radius: 3vh;
  transition: ease-in 0.3s;
}

.BtnRestore:hover{
  padding: 0.7vh;
}
.ContBtn3{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap:  wrap ;
}
.Btn3{
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap:  wrap ;
}
.pagination {
    display: flex;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    cursor: pointer;
    height: 10vh;
    width: 100%;
  }
  .pagination__link {
    font-weight: bold;
  }
  .pagination__link__active a {
    color: black;
    background: #ffb627;
  }
  .pagination__link__disabled a {
    color:black;
  }