@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.container {color:white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: grid;
    justify-content: center;
    
}
.Title{
display: grid;
justify-content: center;
text-align: center;
color:white;
font-family: "Montserrat", sans-serif;;
}
.ContBtn3{
    display: grid;
    justify-content: center;
}
.Btn3{
    display: grid;
    justify-content: center;
    color: coral;
}
.Btn1{
    display: grid;
    justify-content: center;
    color: white;
}