@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.titles{
    color: white;
    font-family: "Montserrat", sans-serif;
    display: grid;
    justify-content: center;
}
.Btns{
    margin-left: 53%;
}
.email{
    border-radius: 10px;
}
.Btn1{
    border-radius: 10px;
}
.Btn1:hover{
    background-color: thistle;
    border-radius: 10px;
}
.Btn2{
    border-radius: 10px;
}
.Btn2:hover{
    background-color: rgb(159, 218, 212);
    border-radius: 10px;
}