@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.titles{
    color: white;
    font-family: "Montserrat", sans-serif;
    display: grid;
    justify-content: center;
}
.Btns{
    margin-left: 53%;
}