.cart_item{
    width:100%;
    padding: 1rem;
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    gap: 8px;
    background-color: white;
    border-radius: 2px;
    place-items: center;
}

.cart_name{
    text-decoration:none;
    color:black;
}

.cart_name:hover{
    color:grey;
}

.cart_select{
    padding: 10px 17px;
}

.cart_btn{
    padding: 10px 17px;
    color: black;
    background-color: grey;
    border: 1px solid black;
    cursor: pointer;
    transition:all 0.3s ease-out;
}

.cart_btn:hover,
.cart_btn:focus,
.cart_btn:active{
    color: white;
    background-color: black;
    transform: scale(1.2);
}