@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap%27');

.General{
    
    display: flex;
    color: black;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
    padding: 2%;
    font-family: 'Roboto Condensed', sans-serif;
}

.ShirtsTitle{
    color: black;
    font-family: 'Shadows Into Light', cursive;
}

.Container{
    display: grid;
    
}
.Tarjet{
    border: 2px solid ;
    border-radius: 5px #ffb627;
    display: grid; 
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1px;
}
.Titles1{
    grid-column: 1;
   
}
.Titles2{
    grid-column: 2;
}
.Titles3{
    grid-column: 3;
}
.Titles4{
    grid-column: 4;
}
.Titles5{
    grid-column: 5;
}
.Titles6{
    grid-column: 6;
}
.Titles7{
    grid-column: 7;
}
.Titles8{
    grid-column: 8;
}
.Btn1{
    grid-column: 9;
}
.Title1{
    grid-column: 1;
}
.Title2{
    grid-column: 2;
}
.Title3{
    grid-column: 3;
}
.Title4{
    grid-column: 4;
}
.Title5{
    grid-column: 5;
}
.Title6{
    grid-column: 6;
}
.Title7{
    grid-column: 7;
}
.Title8{
    grid-column: 8;
}
.Btn{
    grid-column: 9;
}
.Btn1{
    transition: ease-in 0.3s;
    border-radius: 3vh;
}
.Btn1:hover{
    background-color: red;
    color: white;
    box-shadow: 0 4px 5px rgba(170, 169, 169, 0.582);
    top: -1vh;
    border-radius: 3vh;
}
.Btn3{
    display: flex;
    justify-content: center;
    color:black;
}
.Detail{
    color: black;
    font-size: 120%;
    transition: ease-in 0.3s;
    font-family: 'Shadows Into Light', cursive;
   
}
.Detail:hover{
    font-family: 'Shadows Into Light', cursive;
    font-size: 150%;
    font-weight: 500;
   
}

.pagination {
    display: flex;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    cursor: pointer;
    height: 10vh;
    width: 60%;
    flex-wrap:  wrap ;
  }
  .pagination__link {
    font-weight: bold;
    flex-wrap:  wrap ;
  }
  .pagination__link__active a {
    color: black;
    background: #ffb627;
    flex-wrap:  wrap ;
  }
  .pagination__link__disabled a {
    color: black;
    flex-wrap:  wrap ;
  }
