
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ul{
    border: 5px solid rgba(255, 255, 255, 0.411);
    list-style: none;
    background: rgba(255, 255, 255, 0.411);
    border-radius: 5px;
}
.ul li{
    color: white;
    padding: 5px;
}

.title{
    color: white;
    font-size: 30px;
}

.btn{
    color: white;
}
.btn:hover{
    color: coral;
}