@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap%27');

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 50px;
    
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffb627;
    width: 300px;
    margin: 30px;
    border-radius: 10px;
}

.ul {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: max-content;
    margin: 1vh;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}
.ul > a:hover {
    color: white;
}

.submitBtn, .filterBtn{
    width: 120px;
    height: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 0.5vh;
    transition: ease 0.3s;
    border: 2px solid #ffb627;
    background-color: white;
    border-radius: 10px;
}
.submitBtn:hover{
    background: black;
    color: #ffb627;
}

.filterBtn:hover {
    color: black;
    background-color: #ffb627;
}

.select{
    width: 152px;
    height: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: black;
    color: white;
    outline: none;
    border-radius: 10px;
}
.option{
    width: 120px;
    height: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.btn{
    padding: 5px;
    height: 40px;
    border-radius: 5px;

}

.btn:hover{
    color:#ffb627 ;
    background-color: gray;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.582);
}

@media(max-width: 600px){
    .ul{
        width: 150px;
    }
    .box{
        width: 200px;
    }
}

@media(max-width: 350px){
    .ul{
        width: 100px;
    }
    .box{
        width: 150px;
    }
}