@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: coral;
    width: 35%;
    padding-bottom: 30px;
    margin-top: 30px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.input{
    height: 30px;
    margin-bottom: 10px;
}

.submitBtn{
    width: 120px;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.submitBtn:hover{
    background: black;
    color: coral;
}