@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap%27');

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffb627;
    width: 35%;
    padding-bottom: 30px;
    margin-top: 30px;
    
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 35px;
}

.title{
    font-family: 'Shadows Into Light', cursive;
    font-size:28px;
}

.input{
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.btn{
    width: 120px;
    height: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 5px;
    background: white;
    border-radius: 5px;
    border: 2px solid #ffb627;
}
.btn:hover{
    background: black;
    color: #ffb627;
}

.submitBtn{
    width: 120px;
    height: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin: 5px;
    background: white;
    border-radius: 5px;
}
.submitBtn:hover{
    background: black;
    color: #ffb627;
}