#root { height: 100% }

/* body {
  position: relative;
  height: 100%;
} */

.link{
  text-decoration: none;
  color: inherit;
  grid-column: 3;
  grid-row: 4;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet{
  background: whitesmoke;
}

.create{
    background-image: url('https://i.pinimg.com/originals/18/f1/84/18f184a49e25dd94769fd30530f78adf.jpg');
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.designTitle{
  text-align: center;
}

.create:hover{
  color: black;
}

.catalogue {
    background-image: url('https://i.pinimg.com/originals/18/f1/84/18f184a49e25dd94769fd30530f78adf.jpg');
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: solid 4px black;
}

.cataloguetitle{
  text-align: center;
}

.catalogueLink{
  text-decoration: none;
  color: inherit;
  grid-column: 3;
  grid-row: 4;
}

h2{
    color: white;
    grid-column: 2/5;
    grid-row: 3;
}


.btn { 
    width:80px;
    height:40px;
    grid-column: 3;
    grid-row: 4;
    background-color: transparent;
    border: solid 2px white ;
    color: white;
    font-weight: 800;
}

.btn:hover{
    background-color: white;
    border: solid 2px black;
    color:black;
}