@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.container{
    background-image: url('https://images.unsplash.com/photo-1489980557514-251d61e3eeb6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.container h1{
  font-family: 'Shadows Into Light', cursive;
  color: black;
  text-shadow: 5px 5px 5px #ffb627;
}

.info{
  width:100%;
  height: 800%;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}


.pagination {
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
    height: vh;
    width: 100%;
  }
    
  .pagination__link {
    font-weight: bold;
    font-size: 25px;
  }
  
  .pagination__link__active a {
    color:#ffb627;
    font-size: 15px;
  }
  
  .pagination__link__disabled a  {
    color: grey;
    font-size: 25px;
    
  }

  h1{
    color: black;
    font-size: 50px;
  }

  /* @media(max-width: 960px){
    .container{
      border: solid 2px red;
    }
  } */