.container{
    border: solid 2px red;
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    text-align: center;    
}

.info{
    display:flex;
    justify-content: center;
}

.pagination {
    display: flex;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    cursor: pointer;
    height: 10vh;
    width: 100%;
  }
    
  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link__active a {
    color: white;
    background: coral;
  }
  
  .pagination__link__disabled a {
    color:white;
    
  }

  h1{
    color:white;
  }