@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.card{
    box-shadow: 2px 2px 2px 2px rgb(228, 227, 227);
    width: 210px;
    height: 280px;
    margin:6px;
    border-radius: 5px;
    border: 2px solid transparent;
}

.card:hover{
   border: 2px solid #ffb627;
}

.name{
    font-size: 15px;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    border-top: solid 2px black;
    padding-top: 3px;
   
}

.card img{
    width: 80%;
}

.card h5{
    color: black;
    font-weight: 900;
    font-family: 'Roboto Condensed', sans-serif;
} 

.card h4{
    color: black;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;
}

.btns button{
    font-size: 16px;;
    width: 30px;
    height: 20px;;
    margin:0;
    margin-right: 2px;
    background-color: transparent;
    border: solid 2px transparent;
    border-radius: 5px;
    color:grey;
}

.btns button:hover{
    color:black;
    background-color: white;
}

.price{
    display:flex;
    justify-content: center;
    margin:0;
    margin-top:4px
}

.btns{
    display: flex;
    justify-content: center;
    margin-top:5px;
}


