@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.popup{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100vh;;
    background-color:rgba(0, 0, 0, 0.825);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupinner{
    position: relative;
    padding: 32px;
    height: 250px;
    max-width: 380px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    transform: perspective(17px);
    z-index:3;
    font-family: 'Shadows Into Light', cursive;
    line-height: 100%;
}

.left{
    width: 50%
}

.image{
    width: 100%;
    margin:0;
}

.left p{
    font-weight: 600;
    font-size: 30px;

}

.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
    margin-top:10%;
}

.popupinner .closebtn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 3px;
    top: 3px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: transparent;
    z-index: 4;
    border:solid 2px black;
    background-color: black;
    color:#ffb627;
    font-weight: 900;
  
} 

.closebtn:hover{
   font-size: 80px;
}

.size{
    margin-bottom: 10px;
    font-size: 12px;
    height: 25px;
    width: 60px;
    border-color: black;
    transition-duration: 0.4s;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;

    
}

.size:hover{
    background-color:black;
    color:white;
    width: 65px;
}

.amount{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.amountqt{
    display: flex;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.buttonAM{
    font-family: 'Roboto Condensed', sans-serif;
    border-color: transparent;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    margin:2px;
    background-color: white;
}

.buttonAM:hover{
    border-radius: 50%;
    background-color: grey;
}

.cart{
    background-color:white;
    color:grey;
    border-color: transparent;
    margin:-10px;
}

.cart:hover{
    color: black;
}