@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

.box {
    width: 5vh;
    margin: 25px 0;
    display: flex;
    align-items: center;
    user-select: none;
  }
  .box label {
    font-size: 2.5vh;
    color: #4d4d4d;
    position: absolute;
    z-index: 10;
    padding-left: 7vh;
    cursor: pointer;
  }
  .box input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
  .box input:checked ~ .check {
    border-color: #00ea90;
    box-shadow: 0px 0px 0px 15px #00ea90 inset;
  }
  .box input:checked ~ .check::after {
    opacity: 1;
    transform: scale(1);
  }
  .box .check {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    background-color: black;
    border: 2px solid #00ea90;
    box-shadow: 0px 0px 0px 0px #00ea90 inset;
    transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
  }
  .box .check::after {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 4;
    position: absolute;
    transform: scale(0);
    background-size: 50%;
    background-image: url("http://s6.picofile.com/d/8392306668/c38c12a0-6db3-47d4-a80c-7dad8fab5186/checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition-delay: 0.2s !important;
    transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
  }