.container{
    display: flex; 
    flex-direction: column; 
    max-width: 30vh;
    border: 1px solid coral;
    border-radius: 6px;
    
}

.container > button {
    margin: 1vh;
    border-radius: 0.5vh;
}