@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.controllerContainer {

    display: flex;
    flex-direction: column;
    padding-top: 3%;
    flex-wrap: wrap;
    width: 20%;
    margin: 0 auto;
    height: 80vh;
    align-items: flex-start;
    background: transparent;
    border-radius: 25px;
    position: relative;
    justify-content: space-around;

}

.buttonsContainer {
    height: max-content; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    align-items: center;
    width: max-content; 
    min-width: 6em;
}

.buttons {
    height: min-content;
    margin: 0 auto;
    color: coral;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    font-size: 16px;
    font-weight: 900;
    border: 2px solid coral;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: ease 0.5s;
}



.selectedButtons  {
    height: min-content;
    margin: 0 auto;
    
    padding-left: 10px;
    padding-right: 10px;
    background-color: coral;
    font-size: 16px;
    font-weight: 900;
}



.btnDescription > h4 {
    color: coral;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.btnSelected > h4{
    color: rgb(253, 237, 231);
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

@media (max-width: 800px) {
    
    .controllerContainer {
        width: 95%;
    }

    .buttonsContainer {
        width: 20%;
    }
}