.container {
    width: max-content;
    display: flex;
    height: 100vh;
    margin: 55px auto 25px auto;
    
}

.finalShirt {
    width: max-content;
    height: max-content;
    padding: 15px;
    border: 2px solid coral;
    border-radius: 11px;
}

.finalShirt img {
   width: 410px;
   height: auto;
    
    
}
.submitContainer {
    display: flex;
    flex-direction: column;
    
    
}

.uploadText h3{
    color: white;
    font-size: 22px;
}

.uploadForm {
    margin: 0 auto;
}

.uploadForm input {
    border-radius: 30px;
    width: 100%;
    border: 2px solid coral;
    font-size: 15px;
}
.Desing{
    color:white;
}
.Desing1{
    color:white;
}
.Desing2{
    color:white;
}

@media (max-width: 970px) {
    .container {
        flex-direction: column;
    }

    .finalShirt > img {
        width: 360px;
        height: auto;
    }
}

@media (max-width: 610px) {
    .submitContainer {
        width: 100vh;
    }
}