.container {
    display: flex; 
    flex-direction: column; 
    width: 60%; 
    align-items: center;
    margin: 0 auto;
}

.title > h3 {

    width: 100%;
    display:'flex';
    margin: 0 auto;
    color: white;
}

.formContainer {
    margin: 0 auto; 
    width: 70%;
}

.form {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
