.container {
    
        display: flex; 
        justify-content: space-around; 
        padding-top: 6%;
        width: 90%;
        max-width: 1366px;
        margin: 0 auto;
}

.side{
        display: flex;
        width: max-content;
        flex-direction: column;
}


.shirtInputContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
}

@media (max-width: 960px) {
        .container {
                flex-direction: column;
                width: 100%;
        }

        .shirtInputContainer {
                max-width: 350px;
                margin: 0 auto;
        }
}