.container {
    display: flex; 
    position: relative;
    width: 80%;
    flex-direction: column; 
    width: max-content;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: max-content;
}

.title{
    display: flex;
    flex-direction: column;
    border: 2px solid coral;
    text-align: center;
    height: 125px;
    
}

.title > h3 {
    width: 'max-content';
    display:'flex';
    margin: 0 auto;
    color: white;
}

.title > form > select {
    border: 2px solid coral;
    background-color: black;
    color: coral;
    outline: none;
    height: 33px;
}

.title > form > select > option {
    border: 2px solid coral;
    background-color: black;
    color: coral;
}

.title > form > input {
    border: 2px solid coral;
    background-color: black;
    color: coral;
    height: 33px;
}

@media (max-width: 610px) {
    .container {
        right: 0;
    }
}