.containerOfDesign {
    display: flex; 
    position: relative;
    width: 80%;
    flex-direction: column; 
    max-width: 100vw;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: max-content;
}

.title{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 125px;
    width: 70%;
}

.title > h1 {
    width: 'max-content';
    display:'flex';
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
}

/* .title > form > select {
    border: 2px solid coral;
    background-color: black;
    color: coral;
    outline: none;
    height: 33px;
}

.title > form > select > option {
    border: 2px solid coral;
    background-color: black;
    color: coral;
}
 */
/* .title > form > input {
    border: 2px solid coral;
    background-color: black;
    color: coral;
    height: 33px;
}
 */
.AvailableShirts {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    animation: pageClick 0.4s forwards ease-in;
    
}

.GoAhead {
    background-color: rgb(41, 146, 111);
    color: white;
    border-radius: 15px;
}

.ShirtAvatar {
    width: 360px;
    height: 455px;
    cursor: pointer;
    transition: all 0.22s ease-in;
}
.ShirtAvatar img {
    width: 100%;
    height: 100%;

}

.ShirtAvatar:hover {
    background-color: rgb(85, 85, 85);
}


@keyframes pageClick{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


@media (max-width: 950px) {
    .container {
        right: 0;
    }

    .AvailableShirts {
        flex-direction: column;
    }
}