@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap%27');


.General{
    color: black;
    font-family: 'Shadows Into Light', cursive;
    display: grid;
    justify-content: space-evenly;
    text-align: center;
}
.Title{
    color: black;
    font-family: 'Shadows Into Light', cursive;
    display: grid;
    justify-content: space-evenly;
    text-align: center;
}
.Title1{
    color: black;
}
.Title1:hover{
    color: #ffb627;
    top: -1vh;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.582);
}
.img{
    width: 40px;
    height: 40px;
}

