@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap%27');


.General{
    color: black;
    font-family: 'Shadows Into Light', cursive;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap;
    width: 100%;
}
.Title{
    color: black;
    font-family: 'Shadows Into Light', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
    margin: 2vh;
}
.Title1{
    color: black;
    height: 7vh;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap;
    margin: 2vh;
}
.Title1:hover{
    color: #ffb627;
    top: -1vh;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.582);
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
}
.img{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
    margin: 1vh;
}



@media (max-width: 960px){
    .General{
        color: black;
        font-family: 'Shadows Into Light', cursive;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
        flex-wrap:  wrap ;
        height: 100%;
    }
    .Title{
        color: black;
        font-family: 'Shadows Into Light', cursive;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        align-content: center;
        flex-wrap:  wrap ;
        margin: 2vh;
    }
    .Title1{
        color: black;
        height: 7vh;
        width: 30vh;
        justify-content: center;
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap:  wrap ;
        margin: 2vh;
    }
}