
.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition:  1s  ease-in-out;
  
}
.popup_inner {
  position: relative;
  justify-content: space-around;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items: center;
  /* max-width: 800px;
  max-height: 600px; */
  width: 60%;
  height: 80%;

  background-color: rgb(255, 255, 255);
  backdrop-filter: blur (15px);
  transform: rotate(0.5turn);
  transition: 0.64s ease-in-out;
  padding:0;

  

}
.popup__photo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width:35%;
  height: 70%;
  overflow: hidden;
  /* border-right: thick solid #0c0c0c; */
}
.popup__photo img {
  width: 50vh;
  height: 50vh;
  justify-content: left;
  
}


.popup__text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup__text h1 { 

  /* width: 60%;
  height: 100%; */
  /* padding: 4rem; */
  display:flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  
}
.popup__text h2  {
  display:flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #0A0A0A;
  font-family: "Montserrat", sans-serif;
  
  
}

.popup__text p {
  font-size: 0.875rem;
  color: #686868;
  line-height: 1;
  display:flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup:target .popup_inner {
  bottom: 0;
  right: 0;
  transform: rotate(0);
}
.popup__close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: 0.875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: coral;
  z-index: 4;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}