@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap%27');

.mainContainer {
	backdrop-filter: blur(5px)
}

.mainContainerCards {
	background-color: "#eee";
	margin: 5%; 
	border-radius: 5px; 
}

.reviewCardContainer {
	display: flex;
	flex-direction: column;
	align-items:flex-end;
	border-radius: 5px;
}

.cardContent {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-flow: row-reverse;
	margin-right: 25%;
	border-radius: 20px;
	color: white;
	background-color: rgba(125, 125, 125, 0.4);
	backdrop-filter: blur(5px);
	padding: 5px;
	width: 25%;
}

.shadowsFamily {
    font-family: 'Shadows Into Light', cursive;
    color: #ffb627;
    background-color: black;
	margin: 0%;
}

.robotoFamily {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
	margin: 0%;
}
.robotoFamilyWhite {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
	margin: 0%;
	font-size: 14px;
	text-align: center;
}


.avatar {
	border-radius: 100%;
}

.separatorLine {
	border: 1px solid #ffb627;
	width: 60%;
	align-self: center;	
}

.notMargin {
	margin: 0%;
}

@media screen and (max-width: 767px) {
	.cardContent {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-flow: row-reverse;
		margin-right: 25%;
		border-radius: 20px;
		color: white;
		background-color: rgba(125, 125, 125, 0.4);
		backdrop-filter: blur(5px);
		padding: 5px;
		width: 50%;
		max-height: 100px;
		min-height: 100px;
	}
}

/* 

.section_title {
	font-size: 28px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-weight: 400;
	display: inline-block;
	position: relative;
}
.section_title:after,
.section_title:before {
	content: "";
	position: absolute;
	bottom: 0;
}
.section_title:after {
  
	height: 2px;
	background-color: rgba(252, 92, 15, 0.46);
	left: -80%;
	right: -100%;
}

.section_title:before {
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	background-color: #fc5c0f;
	left: 100%;
	transform: translatex(-50%);
	bottom: -6px;
	z-index: 9;
	border-radius: 50%;
}


.userimage  {

	width: 50px;
	height: 50px;
	border-radius: 100%;
}
.b3{

	padding: 0px;
	margin-top: 2px;
}

.feedback_slider_item {
	position: relative;
	padding: 60px;
	margin-top: 2px;
}

.customer_name {
	margin-top: -15px;
	margin-bottom: -15px;
	font-size: 20px;
	font-weight: 500;
}

.feedback_slider_item p {
	line-height: 1.875;
}

.customer_rating {
	background-color: #eee;
	border: 3px solid #fff;
	color: rgba(1, 1, 1, 0.702);
	font-weight: 700;
	border-radius: 50%;
	position: absolute;
	width: 47px;
	height: 47px;
	line-height: 44px;
	font-size: 15px;
	right: 0;
	top: 77px;
	text-indent: -3px;
}

.thumb_prev .customer_rating {
	top: -20px;
	left: 0;
	right: auto;
}

.thumb_next .customer_rating {
	top: -20px;
	right: 0;
}

.customer_rating i {
	color: rgb(251, 90, 13);
	position: absolute;
	top: 10px;
	right: 5px;
	font-weight: 600;
	font-size: 12px;
}


#form {
	width: 250px;
	margin: 0 auto;
	height: 50px;
  }
  
  #form p {
	text-align: center;
  }
  
  #form label {
	font-size: 20px;
  }
  
  input[type="radio"] {
	display: none;
  }
  
  label {
	color: rgb(128, 128, 128);
  }
  
  .clasificacion {
    display:flex;
    justify-content:flex-end;
	direction: rtl;
	unicode-bidi: bidi-override;
	font-size: 50px;
  }
  
  label:hover,
  label:hover ~ label {
	color: coral;
  }
  
  input[type="radio"]:checked ~ label {
	color: coral;
  }


.feedback_slider_item:after {
	content: "";
	position: absolute;
	width: 80vh;
	height: 20vh;
	left: 30px;
	right: 30px;
	bottom: 0;
	top: 103px;
	background-color: #ebcca3;
	border: 1px solid rgba(251, 90, 13, 0.1);
	border-radius: 10px;
	z-index: -1;
}

.defaultImg {
	width: 80px;
	height: 66px;
	border-radius: 100%;
}




.input{
    background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: coral; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}





.customer_feedback .owl_dots {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 35px;
}
.customer_feedback .owl_dot {
	display: inline-block;
}

.customer_feedback .owl_dots .owl_dot span {
	width: 11px;
	height: 11px;
	margin: 0 5px;
	background: rgb(241, 234, 234);
	border: 1px solid rgb(251, 90, 13);
	display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	border-radius: 50%;
}

.customer_feedback .owl_dots .owl_dot.active span {
	background-color: rgb(251, 90, 13);
}


@media screen and (max-width: 767px) {
	.feedback_slider_item:after {
		left: 30px;
		right: 30px;
	}
	.customer_feedback .owl_nav [class*="owl-"] {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 45px;
		bottom: auto;
	}
	.customer_feedback .owl_prev {
		left: 0;
	}
	.customer_feedback .owl_next {
		right: 0;
	}
} */
