@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.General{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: grid;
    justify-content: space-evenly;
    text-align: center;
}
.Title{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: grid;
    justify-content: space-evenly;
    text-align: center;
}
.Title1{
    color: white;
}
.Btn3{
    display: flex;
    justify-content: center;
    color: white;
}