@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap%27');

.general {color: black;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
    
}
.TitleCategory{
display: flex;
justify-content: center;
text-align: center;
align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
}

.Tarjet{
    border: 2px solid #ffb627;
    background-color: rgba(255, 243, 80, 0.151);
    border-radius: 5px ;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
}
.Users{
    display: grid;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
}
.ContBtn3{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
}
.Btn3{
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
}
.Order{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
}