@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap%27');

.general {color: black;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
    
}
.TitleCategory{
display: flex;
justify-content: center;
text-align: center;
align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
}

.Tarjet{
    border: 2px solid black;
    background-color: rgba(252, 218, 29, 0.151);
    border-radius: 5px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    flex-wrap:  wrap ;
    margin: 1vh;
    padding: 5vh;
}
.Users{
    display: grid;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
}
.Btn1{
    background-color: white;
    color: black;
    border-radius: 3vh;
    transition: ease-in 0.3s;
  }
  
  
    .Btn1:hover {
      background-color: #ffb627;
      color: black;
    }
  
    .BtnR{
      background-color: white;
      color: black;
      border-radius: 3vh;
      transition: ease-in 0.3s;
    }
  
    .BtnR:hover{
      background-color: red;
      color: white;
    }
.ContBtn3{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
}
.Btn3{
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
}
.Order{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
}