@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap%27');

@media (max-width: 960px){
    
    .Title{
        display: flex;
    }

    .nav{
        display: flex;
        flex-direction: column;
        height: 80%;
        justify-content: space-around;
    }

    .form{
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .Tarjet{
        display: flex;
        flex-direction: column;
        color: black;
        width: 100%;
        height: 50vh;
        margin: 2vw;
        border-radius: 10px;
        transition: all 0.1s ease-in;
        border: 2px solid #ffb627;
        align-items: center;
        justify-content: center;
        font-size: 1.5vh;
    } 
    .field{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 90%;
        align-items: center;
        flex-wrap:  wrap ;
        width: 5vh;
    } 
    .Centers{
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 90%;
        align-items: center;
        flex-wrap:  wrap ;
        text-align: center;
    }
    .edit{
        display: flex;
        flex-direction: column;
        width: 18vw;
    }
}

.Title{
    color:black;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
}
.field{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 90%;
    align-items: center;
    flex-wrap:  wrap ;
} 

.edit {
    display: flex;
    width: 100%;
}

.edit > input {
    width: 100%;
}

.field:first-letter {
    text-transform: uppercase;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
    } 
.Centers{
    justify-content: center;
    display: flex;
    width: 100%;
    text-transform: uppercase;
    font-size: 90%;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap;
    text-align: center;
}
.Tarjet{
    color: black;
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    padding: 1vh;
    border-radius: 10px;
    transition: all 0.1s ease-in;
    border: 2px solid #ffb627;
    align-items: center;
    justify-content: center;
    flex-wrap:  wrap ;
}
.Tarjet:hover{
    top: -1vh;
    box-shadow: 0 4px 5px rgba(170, 169, 169, 0.582);
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
  }
  .Detail{
      color: #000000;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 500;
      font-size: 200%;
      justify-content: center;
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap:  wrap ;
  }

  .Submit{
    width: 100%;
    border: 1px solid #ffb627;
    margin: 1vh;
  }

  .Submit:hover{
    background-color: #ffb627;
    align-items: center;
    align-content: center;
  }

  .Centers{
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap:  wrap ;
  }
  .Btn3{
    display: flex;
    font-family: 'Shadows Into Light', cursive;
    justify-content: center;
    color: black;
    align-items: center;
    align-content: center;
    flex-wrap:  wrap ;
}

.Btn3:hover{
    color: #ffb627;
}




