@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.general {color:white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: grid;
    justify-content: space-evenly;
}
.Tarjet{
    border: 2px solid coral;
    background-color: rgba(255, 127, 80, 0.151);
    border-radius: 5px ;
}
.ContBtn3{
    display: flex;
    justify-content: center;
}
.Btn3{
    display: flex;
    justify-content: center;
    color: white;
}
.Order{
    display: grid;
    justify-content: center;
}
.Buttons{
    display: flex;
    justify-content: center;    
}
.Prev{
justify-content: center;
}
.Prev:hover{
    background-color: coral;
}
.Next{
    justify-content: center;
}
.Next:hover{
    background-color: cornflowerblue;
}

