@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.loginBtn{
    background: black;
    border: 2px solid black;
    color: #ffb627;
    height: 30px;
    width:  70px;
    margin-left: 30px;
    border-radius: 5px;
    font-weight: 800;
    font-family: 'Roboto Condensed', sans-serif;
}
.logoutBtn{
    background: white;
    border: 2px solid white;
    color: black;
    height: 30px;
    width:  70px;
    margin-left: 30px;
    border-radius: 5px;
    font-weight: 800;
    font-family: 'Roboto Condensed', sans-serif;
}