@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.generalHome{
    display: flex;
    justify-content: center;
    /* border: solid 2px blue;   */
    height: 100vh;  
}

.generalHome h1{
color: black;
display: flex;
justify-content: center;
font-family: 'Shadows Into Light', cursive;
/* border: solid 2px blue;   */
}


