@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.slider{
    position: relative;
    height: 60%;
    width: 80%;
    background: white;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    z-index:0;
}

.slider .swiper-container {
  width: 900px;
  height: 100%;
  /* border: solid 2px blue; */
}

.slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slider .swiper-slide img {
  display: block;
  width: 200px;
  height: 220px;
  object-fit: cover;
  /* border: solid 2px red; */
}

.design h3, .catalogue h3{
    display: flex;
    justify-content: center;
    padding-top: 1px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    margin-bottom: 110px;
}

.design h3{
    color:black;
}
.catalogue h3{
    color:#ffb627;
    height: 49px;
    margin-top: 10px;
}

.pic1{
    background-image: url('https://images.unsplash.com/photo-1557431968-2c43c8e896e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw5MDY4OTQ0NXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60');
    opacity: 0.85;
}

.pic2 {
    background-image:url('https://images.unsplash.com/photo-1591480185595-2bb4e4b27ff4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTU5fHx0JTIwc2hpcnRzfGVufDB8MXwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    opacity: 0.80;
}

.pic1, .pic2{
    border-radius: 5px; 
    width: 200px;
    height: 220px;
    background-size: cover; 
    padding-bottom: 10px;
    line-height: 110%;
}

.pic1 button{
    border: solid 2px #ffb627;
    border: solid 2px black;
    background-color: #ffb627;
    border-radius: 5px;
    color: black;
    font-weight: 800;
}

.pic2 button{
    border: solid 2px black;
    background-color: #ffb627;
    border-radius: 5px;
    color: black;
    font-weight: 800;
}

.pic1 button:hover, .pic2 button:hover{
    background-color: white;
    color:black;
}