@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

#root { height: 100% }

.home {
  display: flex;
  justify-content: space-evenly;
  height: 80vh;
  width: 100vw;
  padding: 0;
  position: relative;
}

.swiperContainer {
  justify-self: left;
  width: 70%;
  height: 80vh;
  
  /* background-size: cover; */
  position: absolute;
  left: 0;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.swiperItem {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.swiperItem > h2 {
  font-family: 'Roboto Condensed';
  font-size: 150%;
  color: #ffb627;
  margin: 5vh;
  text-shadow: 3px 3px 3px black;
}

.swiperCard {
    border: 2px solid black;
    border-radius: 3vh;
    box-shadow: 1px 1px 5vh 0.5vh black;
    width: 50vh;
    height: 60vh;
}

.parallaxBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: url(https://urbanpitch.s3.us-west-1.amazonaws.com/wp-content/uploads/2019/09/03202500/t-shirt-mockup-of-a-man-with-an-attitude-in-an-urban-scenario-21681.png);
  background-position-y: 0px;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.toThePage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 30%;
  position: absolute;
  left: 70%;
  padding: 0;
}

.pic1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3vh;
  margin-top: 0;
  width: 80%;
  height: 38vh;
  background-image: url('https://images.unsplash.com/photo-1557431968-2c43c8e896e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw5MDY4OTQ0NXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-position-y: -200px;
  opacity: 0.85;  
}

.pic1 > h2 {
  font-family: 'Roboto Condensed';
  font-size: 300%;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: #ffb627;
  backdrop-filter: blur(5px);
}

.pic1 > a {
  width: 60%;
  height: 15%;
}

.pic1 > a > button {
  height: 100%;
  width: 100%;
  font-size: 140%;
  font-family: 'Roboto Condensed';
  background: #ffb627;
  border: 1px solid black;
  color: black;
  transition: ease 0.2s;
}

.pic1 > a > button:hover {
  transform: scale(1.1, 1.1);
}

.pic2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3vh;
  margin-bottom: 0;
  width: 80%;
  height: 39.2vh;
  background-image:url('https://images.unsplash.com/photo-1591480185595-2bb4e4b27ff4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTU5fHx0JTIwc2hpcnRzfGVufDB8MXwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-position-y: -200px;
  opacity: 0.80;
  text-align: center;
}

.pic2 > h2 {
  font-family: 'Roboto Condensed';
  font-size: 300%;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: #ffb627;
  backdrop-filter: blur(5px);
}

.pic2 > a {
  width: 60%;
  height: 17%;
}

.pic2 > a > button {
  height: 100%;
  width: 100%;
  font-size: 140%;
  font-family: 'Roboto Condensed';
  background: transparent;
  border: 1px solid #ffb627;
  color: #ffb627;
  transition: ease 0.2s;
  backdrop-filter: blur(10px);
}

.pic2 > a > button:hover {
  transform: scale(1.1, 1.1);
}

.blackStar{
  color: gold;
  height: 20px;
  width: 20px;
}
.star{
  color:rgba(128, 128, 128, 0.229);
}