@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.general{
    color:black;
}


.container{
    width: 100%;
    display:flex;
    color:black;
    
}

.title{
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    margin-left: 90px;
}

.message{
  font-family: 'Roboto Condensed', sans-serif;
  margin-top:-40px;
  height: 60px;
  text-align: center;
  line-height: 100%;
}

.total{
  padding:0;
  display:flex;
  justify-content: center;
  color:black;
  font-family: 'Shadows Into Light', cursive;
  font-size:30px;
}
.total1{
  padding:-10px;
  height: 30px;
  margin-top:30%;
  display:flex;
  justify-content: center;
  color:black;
  font-family: 'Shadows Into Light', cursive;
  font-size:25px;
}

.left{
    width: 50%;
    height: 0%;
    position: relative;
}

.rigth{
    width: 30%;
    /* position: relative; */
    top:0%;
    left:0%;
    color:black;
    margin-left:100px;
    margin-top:90px;
    line-height: 80%;
    
    
}

.total{
    margin-top:15%;
    display: flex;
    justify-content: center;
    color:black;
    font-size:20px;
    

}

.totalPay{
  display: flex;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

.buttons{
  margin-top:10%;
  display:flex;
  justify-content: center;
}

.buttons button {
  color: white;
  font-weight: 600;
  margin-left:2px;
  margin-top: 10px;
  border: solid 2px black;
  background-color: black;
  border-radius: 5px;
  margin:10px;
  font-family: 'Roboto Condensed', sans-serif;
  padding:5px;
}

.buttons button:hover{
  background-color: #ffb627;
  color:black;
}

.q{
    width: 40%;
}

.pages{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    justify-content: center;
  }
  
  .pagination {
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
    height: vh;
    width: 100%;
  }
    
  .pagination__link {
    font-weight: bold;
    font-size: 25px;
  }
  
  .pagination__link__active a {
    color:#ffb627;
    font-size: 15px;
  }
  
  .pagination__link__disabled a  {
    color: grey;
    font-size: 25px;
    
  }

  @media(max-width:1024px){

    .title{
      text-align: center;
    }
    
    .rigth{
      margin:auto;
    }
  }

  @media(max-width:768px){

    .container{
      display: flex;
      flex-wrap: wrap;
    }
    .left{
      width: 100%;
    }
    .rigth{
        width: 100%;
        height: 250px; 
        padding-top:-400px;
    }

    .total h2{
        font-size: 30px;
        margin-bottom: 1px;
        margin-top: -50px;
    }

    .message{
      font-size: 15px;
      margin-top: -110px;
    }

    .totalPay{
      font-size: 15px;
      margin-top: -70px;
    }

    .title{
      width: 100%;
      margin: 0;
      font-size: 30px;
    }
  
    .buttons{
      margin-top: 15px;
    }
  }

  @media(max-width:600px){

    .total h2{
      margin-top: -40px;
    }

    .message{
      margin-top: -50px;
    }

    .totalPay{

      margin-top: -30px;

    }
  }

 