.cartCard{
    border: solid 2px white;
    display: flex;
    margin-bottom: 5px;
}

.picture{
    border: solid 2px purple;
    width: 25%;
}

.column1{
    border: solid 2px orange;
    width: 45%;
    margin:auto;
}

.detail{
    border: solid 2px grey;
    margin-bottom: 10px;
    
}

.btns{
    border: solid 2px rgb(21, 77, 112);
}

.column2{
    border: solid 2px orangered;
    width: 10%;
    display:flex;
    align-items: center;
}

.column3{
    border: solid 2px greenyellow;
    width: 20%;  
}

.name{
    font-size:20px;
}

.sku{
    font-size:10px;
}

.size{
    width:25%;
}


.btns button {
    margin:1px;
}

.image{
    width:100%;
}