.general{
    color:white;
}


.container{
    border: solid 2px red;
    width: 100%;
    display:flex;
    
}

.title{
    border: solid 2px pink;
    display: flex;
    justify-content: center;
}

.left{
    border: solid 2px blue;
    width: 70%;
    height: 0%;
    position: relative;

}

.cartCard{
    border: solid 2px white;
    display: flex;
    margin-bottom: 5px;
}

.rigth{
    border: solid 2px yellow;
    width: 30%;
    position: relative;
    top:0%;
    left:0%;
}

.total{
    border: solid 2px green;
    display: flex;
    justify-content: center;
}

.q{
    width: 40%;
}

.pages{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    justify-content: center;
  }
  
  .pagination {
      display: flex;
      padding: 0;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      cursor: pointer;
      height: 10vh;
      width: 80%;
    }
      
    .pagination__link {
      font-weight: bold;
    }
    
    .pagination__link__active a {
      color: black;
      background: coral;
    }
    
    .pagination__link__disabled a {
      color:black;
      
    }