.cart{
    display: flex;
    max-width: 1300px;
    margin: 2rem auto;
}

.cart h2 {
    margin-bottom: 1rem;
}

.cart_left{
    flex:0.7;
    margin-right: 1rem;
    background-color: transparent;
    padding: 1rem;
}

.cart_right{
    flex:0.3;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    height: fit-content;
}

.cart_right div {
    border-bottom: 1px solid  rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.cart_right div:last-child {
    border: none;
}

.continue-btn{
    background-color: grey;
    color:black;
}