/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.inputBox{
    text-align: center;
    border: transparent;
    height: 25px;
    width: 150px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 12px;
    border-radius: 10px;
}

.inputBtn{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 12px;
    height: 25px;
    width: 90px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: black;
    color:white;
    font-weight: 800;
    transition-duration: 0.4s;
    border-radius: 10px;
}

.inputBtn:hover{
    background-color:#24252A;
    color: #ffb627;
    border-radius: 10px;
}