/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A; 
} */

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px, 10%;
    background: rgba(255, 255, 255, 0.411);
    height: 70px;
    /* width: max-content; */
    border-bottom: solid 1px; 
    border-color:#ffb627;
    font-family: 'Roboto Condensed', sans-serif;
    background-color:#ffb627;
}

.logo{
    max-width: 134px;
    height: 60px;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 900;
    color:white;
}

.loginBtn{
    
    border: 2px solid black;
    color: blanchedalmond;

}

.navLinks{
    list-style: none;
}

.navLinks li{
    display: inline-block;
    padding: 0px, 20px;
}

.eachLink{
    text-decoration: none;
    transition: all 0.3s ease 0s;
    padding-left: 30px;
    color: #2a2524;
}

.eachLink:hover{
    color: #fd6702;  /* Cambiar acá el color de efecto de los botones*/
}


li, .searchBar{
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #fd6702; /* Cambiar acá el color de las letras*/
        text-decoration: none;
        font-weight: 700;
}

.search{
    display: flex;
    align-items: center;
}

.fav, .cart{
    padding-right: 40px;
}

.fav{
    padding-left: 40px;
}