/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A; 
} */

.header{
    display: flex;
    
    
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    min-height: 120px;
    max-width: 100vw;
    /* width: max-content; */
    height: 115px;
    border-color:#ffb627;
    font-family: 'Roboto Condensed', sans-serif;
    background-color:#ffb627;
}





.navbarContainer {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    justify-content: space-between;
    min-width: 90px;
    width: 440px;
    
    
}

.navbarContainer > nav {
    position: relative;
    bottom: -10px;
    display: flex;
    width: 100%;
}
.logoContainer{
    max-width: 20%;
    
   
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 900;
    color:white;
}


.panelNavBar {
    display: flex;
    flex-direction: row-reverse;
    
    align-items: center;
    height: 110px;
    justify-content: space-around;
    width: 90%;
    
}


.logoContainer > img {
    height: 5vw;
    width: auto;
}

.loginBtn{
    
    border: 2px solid black;
    color: blanchedalmond;

}

.navLinks{
    list-style: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
    left: 50%;
}

.navSeparator {
    height: 40%;
    align-self: center;
    box-shadow: 1px 1px 10px 4px rgba(1, 87, 61, 0.116);
    border-right: 1.7px solid black;
    border-radius: 50%;
}




.navLinks li{
    display: flex;
    align-items: center;
    position: relative;
    width: 11.5em;
    
    max-width: max-content;
    border-radius: 5px;
    background-color: transparent;
    padding: 6px;
    font-weight: 800;
    transition: background-color 0.33s ease-in-out;
}


.navLinks li:hover {
    background-color:rgba(5, 5, 5, 0.116);
    
}

/* .navLinks li:hover > .underline {
    position: absolute;
    height: 1px;
    width: 99px;
    background: black;
} */

/* .navLinks li:hover {
    border-bottom: 1px solid black;
    
}
 */
/* .navLinks li:hover ~ [underline="true"] {
    
    
}
 */




.eachLink{
    display: flex;
    text-decoration: none;
    transition: all 0.3s ease;
    align-items: center;
    color: #2a2524;
    height: 100%;
    padding: inherit;
    z-index: 3;
    
}

.eachLink ~ .underline {
    display: flex;
    position: absolute;
    height: 1px;
    width: 0%;
    margin: 0 auto;
    right: 0;
    left: 0;
    transition: all 0.3s ease;
    bottom: 0;
    border-bottom: 2px solid black;
}


.eachLink:hover {
    color: white;  /* Cambiar acá el color de efecto de los botones*/
    text-shadow: 0.1px 0.1px 6px black, 0.1px 0.1px 6px black, 0.1px 0.1px 6px black;
    
    
}


.eachLink:hover > svg[iconified="true"]{
   fill: white;
   
}

.eachLink:hover ~ .underline {
    
    border-bottom: 2px solid black;
    width: 100%;
   
}


.home, .designIcon, .catalogueIcon{
    width: 28px;
    height: 35px;
}





.searchBar{
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #fd6702; /* Cambiar acá el color de las letras*/
        text-decoration: none;
        font-weight: 700;
        width: max-content;

}

.loginPanel{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 245px;
    width: 30%;
    max-width: 40%;
    
    
}

.fav, .cart{
    display: flex;
    padding: 0;
}

.fav, .cart {
    
    height: 35px;
    width: 35px;
    border-radius: 50%;
    box-shadow: 0.1px 0.1px 8px 4px black;
    /* border: 4px solid rgba(255, 255, 255, 0.411); */
    background-color: #7dcfc7;
}


.cart svg {
width: 23px;
margin: 0 auto;
transition: width 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart:hover > svg {
    width: 28px;
}

.fav svg {
    position: relative;
    height: auto;
    width: 23px;
    top: 5%;
    margin: 0 auto;
    transition: width 0.3s cubic-bezier(0.075, 0.82, 0.965, 1);
}

.fav:hover > svg {
    width: 29px;
}

@media screen and (max-width: 940px) {
    .logoContainer {
        font-size: 20px;
    }
    .navbarContainer {
        height: max-content;
        margin-left: 0;
        width: auto;
    }

    .loginPanel {
        width: auto;
        flex-shrink: 2;
        
    }


}
