/* 
.general{
    border: solid 2px green;
    height: 100%;
    width: 100%;
}

.container {
    border: solid 2px purple;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cards{
    border: solid 2px red;
    z-index: 1;
    position: absolute;
    width: 18%;
    height: 32%;
}

.images{
    width: 100%;
    height: 100%;
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}

.info{
    border: solid 2px yellow;
    z-index: 1;
    position: absolute;
    top:0;
    padding:1% 1%;
    line-height: 20%;
}

.info h2{
    font-size: 10px;
    color:black;
    text-transform: uppercase;
    font-weight: 800;
    /* letter-spacing: 1px; */
/* }

.stars{
    font-size: 10px;
}

.blackStar{
    color:black;
}
.star{
    color:grey;
}

.navigation {
    border: solid 2px green;
    z-index: 2;
    position: relative;
    display: flex; 
    left:16%;
    top: 95%;
    transform: translateX(-50%);
    height: 10%;
    justify-content: center;
    align-items: center;
}
.btn{
    border: solid 2px green;
    background: rgba(225, 225, 225, 0.5);
    width: 5px;
    height: 5px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
} */