@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


.general{
    height: 100%;
    margin:0;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 180%;
    color:white;
    text-align: center;
    background-color: white;
}

.general h3{
    color:white;
}

.picture1{
    background-image: url('./IMG/Ultima.jpeg');
    background-size: cover;
    height: 100vh;
}

.picture2{
    background-image: url('https://images.unsplash.com/photo-1503341733017-1901578f9f1e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    height: 80vh;
}

.picture3{
    background-image: url('https://images.pexels.com/photos/2471422/pexels-photo-2471422.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 100vh;
}

.picture1, .picture2, .picture3 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section1{
   display: flex;
   align-items: center;
   justify-content: center;
   color:white;
   font-size: 450%;
   top:20%;
   left:5px;
   font-weight: 900;
   height: 90px;
   width: 330px;
   opacity: 0.9;
   margin-bottom: 10px;
   letter-spacing: 8px;
   font-family: 'Shadows Into Light', cursive;
   /* border:solid 2px red; */
}

.section2{
    color:black;
    font-weight:800;
    top:30%;
    left:5px;
    line-height: 100%;
    opacity: 0.9;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    height:100px;
    width:330px;
    letter-spacing: 3px;
    background-color: rgba(255, 255, 255, 0.14);
    border-radius: 5px;
    /* border:solid 2px blue; */
 }

 .section2 h2{
     position: relative;
     top:1px;
     color:black;
     font-size: 18px;
 }

 .home{
     position: relative;
     top:55px;
     left:145px;
     background-color: black;
     padding: 10px;
     width: 20px;
     height: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     color:white;
}

 .section3{
    color:white;
    font-size: 250%;
    top:45%;

 }


.section1,.section2,.section3, .home{
    position: absolute;
    text-transform: uppercase;
}


.sectionOne,.sectionTwo {
    padding: 5px;
    color:white;
    display: flex;
    height: 40vh;
}

.sectionOne{
    background-color:black;
}

.sectionOne iframe{
    border-radius: 5px;
    height: 90%;
    width: auto;
}

.sectionOneLeft{
    width: 60%;
    padding:10px;
}

.sectionOneRight{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionTwo{
    background-color: #ffb627;
    display: flex;
    direction: row;
    padding: 0;
}

@media(max-width: 768px){
    .section1{
        font-size: 180%;
    }
    .section2{
        font-size: 50%;
    }
    .section3{
        font-size: 200%;
    }
}

.check{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.left{
    width: 49%;
    /* border: solid 2px blue; */
    height: 100%;
}

.rigth{
    width: 50%;
    /* border: solid 2px blue; */
    height: 100%;
    padding-top:10px;
}
