.titlesContainer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}

.as {
    width: 20px; 
    margin-left: 10px; 
    margin-right: 10px;
}

.container{
    color: white;
    border: 1px solid black;
}

.flexRowCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.separator {
    border: 1px solid white; 
    border-radius: 10px;
    /* box-shadow: 1px 1px 13px 2px white; */
    padding-top: 4%;
    padding-bottom: 4%;
}

.smallSeparator {
    border: 1px solid black; 
    height: 26px;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.links {
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 240px;
}
/* 
.links a h3{
    color: white;
}

.links a {
    text-decoration: none;
    padding-left: 10px;
} */


.img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 5px 0px 5px 0px;
}

.nick{
    color: white;
    font-size: 24px;
    margin: 0%;
    padding: 0%;
    text-decoration: 1px white underline;
}

.h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 60px;
    margin: 0%;
    padding: 0%;
}

.p{
    color: #2a2524;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin: 5px 0px 10px 0px;
    padding: 0%;
    max-width: 480px;
    font-style: italic;
}