.container{
    height: 60px;
    width:  280px;
    text-align: center;
    background-color: grey;
    color: #ffb627;
    border: 5px solid #ffb627;;
    border-radius: 5px;
    margin-left: 5px;
}

.container span{
    font-size: 300%;
}

@media(max-width: 500px){
    .container{
        width: 200px;
    }
}