.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sideBar{
    border: 1px solid rgba(255, 255, 255, 0.411);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.411);
    margin: 10px;
    width: 100%;
    height: 80vh;
}


.calendar{

    padding-top: 25px;
    padding-right: 10px;
}