@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap%27');

.Order{
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

.Order h3{
    color: black;
    font-weight: 500;
}