@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.Sales{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

}

.Btn3{
    display: grid;
    justify-content: center;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  th {
    color: white;
  }
.pagination {
  display: flex;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  cursor: pointer;
  height: 10vh;
  width: 100%;
}
.pagination__link {
  font-weight: bold;
}
.pagination__link__active a {
  color: white;
  background: coral;
}
.pagination__link__disabled a {
  color:white;
  
}

