@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap%27');

@media (max-width: 960px){
  .noResponsive{
    display: none;
  }

}


.Sales{
    color:black;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap:  wrap ;
}
.SalesTittle{
  font-family: 'Shadows Into Light', cursive;
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap:  wrap ;
    font-size: 200%;
}
.Sales1{
    color:black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap:  wrap ;
}
.Sales2{
  font-family: 'Shadows Into Light', cursive;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap:  wrap ;
}
.Sales3{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap:  wrap ;
}
.Detail{
  background-color: white;
  color: black;
  border-radius: 3vh;
  transition: ease-in 0.3s;
}

.Detail:hover{
  background-color: black;
  color: white;
}


.Btn3{
    display: flex;
    justify-content: center;
    color: black;
}
.Btn3:hover{
  color:#ffb627;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  th {
    color: black;
  }
.pagination {
  display: flex;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  cursor: pointer;
  height: 10vh;
  width: 100%;
}
.pagination__link {
  font-weight: bold;
}
.pagination__link__active a {
  color: black;
  background: #ffb627;
}
.pagination__link__disabled a {
  color:black;
  
}

