@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.Sales{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: grid;
    justify-content: space-evenly;
}
.Title1{
    grid-column: 1;
}
.Title2{
    grid-column: 2;
}
.Title3{
    grid-column: 3;
}
.Title4{
    grid-column: 4;
}
.Title5{
    grid-column: 5;
}
.Title6{
    grid-column: 6;
}
.Title7{
    grid-column: 7;
}
.Title8{
    grid-column: 8;
}
