@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.Designs{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: grid;
    justify-content: space-evenly;
}