@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.Designs{
    display:grid;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.Btns{
    display: flex;
    justify-content: center;
}
.Title{
    display: grid;
    justify-content: center;
}
.Container{
    display: grid;
    justify-content: center;
    grid-row: 1;
}
.Name{
    display: grid;
    justify-content: center;
    grid-row: 2;
    text-transform: uppercase;
    
}
.Color{
    display: grid;
    justify-content: center;
    grid-row: 3;
}
.Formulario{
    justify-content: center;
    display: flex;
    
}
.Image{
    display: grid;
    justify-content: center;
    grid-row: 4;
}
.Btn3{
    display: grid;
    justify-content: center;
    color: black;
}
.BtnDelete:hover{
    background-color:rgb(243, 68, 4);
    content: 'Danger';
    color: black;
}
.Btn2:hover{
    background-color: lightblue;
    
}
.Img{
    width: 350px; height: 350px;
  }
