@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.box{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60%;
  
}

.sideBar{
  display: flex;
  height: 80vh;
  width: 20%;
  background-color: inherit;
}

.shirts{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: inherit;
  width: 80%;
  flex-wrap: wrap;
}

.container1{
    display: flex;  
    min-height: 100vh;
    height: auto;
    max-width: 100vw;
    width: auto;
}

.pages{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  height: 10vh;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.pagination {
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  cursor: pointer;
  height: vh;
  width: 100%;
}
  
.pagination__link {
  font-weight: bold;
  font-size: 25px;
}

.pagination__link__active a {
  color:#ffb627;
  font-size: 15px;
}

.pagination__link__disabled a  {
  color: grey;
  font-size: 25px;
  
}

  
.cart{
  display: flex;
  flex-direction: column;
  width: 20%;
 
}

@media(max-width: 690px){
  .box{
    display: flex;
    flex-direction: row;
    align-items: center;  
    width: 80%;
    
  }
}