@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.sideBar{
  display: flex;
  height: 10vh;
  width: 10vh;
  background-color: inherit;
  margin: 1vh;
}

.shirts{
  display: flex;
  margin-top: 1%;
  align-items: flex-start;
  flex-wrap: wrap;
  height: inherit;
  width: 80%;
  flex-wrap: wrap;
}

.container1{
    display: flex;  
    min-height: 80vh;
    height: auto;
    max-width: 100vw;
    width: auto;
    background-image: url(../../Images/catalogue_girl.jpg);
    background-size: cover;
}

.pages{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  height: 10vh;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.pagination {
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  cursor: pointer;
  height: vh;
  width: 100%;
}
  
.pagination__link {
  font-weight: bold;
  font-size: 25px;
}

.pagination__link__active a {
  color:#ffb627;
  font-size: 15px;
}

.pagination__link__disabled a  {
  color: grey;
  font-size: 25px;
  
}

  
.cart{
  display: flex;
  flex-direction: column;
  width: 20%;
 
}

@media(max-width: 960px){
  
  .container1{
    display: flex;  
    min-height: 100vh;
    height: auto;
    max-width: 100vw;
    width: auto;
  }  
  .box{
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    align-items: center;  
    width: 80%;
    height: 100%;
    z-index: 0;
  }
  .sideBar{
    position: absolute;
    display: flex;
    height: 10vh;
    width: 10vh;
    background-color: inherit;
    margin: 1vh;
    z-index: 1;
  }

  .shirts{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: inherit;
    width: 80%;
    flex-wrap: wrap;
    z-index: 0;
  }
}